[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
selenium = "*"
tqdm = "*"
sqlalchemy = "*"
v-log = "*"
youtube-dl = "*"
awscli = "*"
botocore = "*"
boto3 = "*"

[requires]
python_version = "3.7"
